<!DOCTYPE html>
<html>
<head>
  <title>IronYardData</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="welcome">Welcome to the Iron Yard</h1>

<div class="format">
  <a href="#">Students</a>
  <a href="#">Campuses</a>
  <a href="#">Teachers</a>
  <a href="#">Courses</a>
</div>

<br>

<%= yield %>

</body>
</html>
